{% extends "BackendBundle::layout.html.twig" %}
{% block stylesheets_inline %}
    <link rel="stylesheet"
          href="{{ asset('bundles/backend/lte/plugins/datatables/dataTables.bootstrap.css') }}"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet"
          href="{{ asset('bundles/backend/lte/plugins/tree/dist/themes/default/style.min.css') }}"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{{ asset('bundles/backend/lte/plugins/iCheck/all.css') }}">

    <link rel="stylesheet"
          href="{{ asset('bundles/backend/lte/plugins/toastr-master/build/toastr.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/backend/lte/plugins/select2/dist/css/select2.min.css') }}">
    <link href="{{ asset('bundles/backend/lte/plugins/datepicker/datepicker3.css') }}" type="text/css" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html"/>

{% endblock %}

{% block title %}Env&iacute;os{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Env&iacute;os
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('index') }}"><i class="fa fa-home"></i> Inicio</a></li>
                <li>L-BRS</li>
                <li class="active">Env&iacute;os</li>
            </ol>
        </section>
        <br>
        <section class="content">

            <div class="row">
                <input type="hidden" id="exp_id" value="{{ exp_id }}"/>
                <table class="table table-hover" id="datatable">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="group-checkable"
                                   data-set="#table .checkboxes"/>
                        </th>
                        <th>C&oacute;digo</th>
                        <th>Remitente</th>
                        <th>Consignado</th>
                        <th>Fecha</th>
                        <th style="text-align: center">
                            Acciones
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for concepto in entities %}
                        <tr>
                            <td>
                                <img alt="{{ concepto.sisgerCode }}" src="{{ path('mercancia_barcode', { 'id': concepto.sisgerCode,  'size': 20 }) }}" />
                            </td>
                            <td>{{ concepto.remitente.firstName }} {{ concepto.remitente.lastName }}</td>
                            <td>
                                {{ concepto.consignado.firstName }} {{ concepto.consignado.lastName }}
                            </td>


                            <td style="text-align: center">
                                <div class="mailbox-controls">
                                    <div class="btn-group">
                                        {% if concepto.getMercancia() %}
                                            <a title="Ver mercanc&iacute;a" id="show_button"
                                               data-toggle="modal"
                                               type="button"
                                               tabindex="-1"

                                               data-target="#modalShow"
                                               data-path="{{ path('mercancia_show', { 'id': concepto.getMercancia().id }) }}"

                                               href="#" class="btn btn-flat btn-default btn-sm"><i class="fa fa-dropbox"></i>
                                            </a>
                                        {% endif %}
                                        <a title="Editar datos" id="edit_button"
                                           data-toggle="modal"
                                           type="button"
                                           tabindex="-1"

                                           data-target="#modalEdit"
                                           data-path="{{ path('envio_edit', { 'id': concepto.id }) }}"

                                           href="#" class="btn btn-flat btn-default btn-sm"><i
                                                    class="fa fa-edit"></i></a>


                                        <a data-toggle="confirmation" title="Eliminar"
                                           href="{{ path('envio_delete', { 'id': concepto.id }) }}"
                                           class="btn btn-flat btn-default btn-sm"><i
                                                    class="fa fa-trash-o"></i></a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.col -->

            <!-- /.row -->
        </section>

    </div><!-- /.content-wrapper -->

    <div class="modal fade" id="modalNewEnvio" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">
                        Crear Env&iacute;o
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    {{ include("BackendBundle:Envio:new.html.twig") }}
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="newEnvio" type="submit" class="btn btn-flat btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEdit" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">
                        Editar datos
                    </h4>
                </div>

                <!-- Modal Body -->
                <div id="modalEditContent" class="modal-body">

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="edit" type="submit" class="btn btn-flat btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalShow" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">
                       Detalles de la mercanc&iacute;a
                    </h4>
                </div>

                <!-- Modal Body -->
                <div id="modalShowContent" class="modal-body">

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript_inline %}

    <script type="text/javascript" charset="utf8"
            src="{{ asset('bundles/backend/lte/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" charset="utf8"
            src="{{ asset('bundles/backend/lte/plugins/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/PopConfirm-master/jquery.popconfirm.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/toastr-master/toastr.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" charset="utf8"
            src="{{ asset('bundles/backend/js/envios.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            if($('#exp_id').val() != 0){
                $('#modalNewEnvio').modal('show');
            }
        });
        $(".item-tree").removeClass("active");
        $("#conceptos").addClass("active");
        $("#envios").addClass("active");
        $('#datatable').DataTable(
                {
                    "columns": [
                        {"orderable": false},
                        null,
                        {"orderable": false}
                    ]
                }
        );
    </script>
    <script>
        {% for flashMessage in app.session.flashbag.get('danger') %}
        lanzarError("{{ flashMessage }}");
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
        lanzarOk("{{ flashMessage }}");
        {% endfor %}


    </script>
{% endblock %}