{% extends "BackendBundle::layout.html.twig" %}
{% block stylesheets_inline %}
    <link rel="stylesheet"
          href="{{ asset('bundles/backend/lte/plugins/datatables/dataTables.bootstrap.css') }}"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{{ asset('bundles/backend/lte/plugins/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/backend/lte/plugins/select2/dist/css/select2.min.css') }}">

    <link rel="stylesheet"
          href="{{ asset('bundles/backend/lte/plugins/toastr-master/build/toastr.css') }}">
{% endblock %}

{% block title %}Traspasos {% endblock %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Traspasos <a href="#" data-path="{{ path('traspaso_new') }}" id="traspaso_button"
                             class="btn btn-flat btn-default btn-sm"><i class="fa fa-plus"></i></a>
            </h1>

            <ol class="breadcrumb">
                <li><a href="{{ path('index') }}"><i class="fa fa-home"></i> Inicio</a></li>
                <li>G-BRS</li>
                <li class="active">Traspasos</li>
            </ol>
        </section>
        <br>
        <section class="content">

            <div class="row" id="filteredArea">
                <table class="table table-hover" id="datatable">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Importe</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Suma</th>
                        <th>Concepto</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for receipe in entities %}
                        <tr>
                            {#los [] al final es para q en el servidor me lo tome como un arreglo y poder hacer todas las acciones de busqueda etc#}
                            <td>{{ receipe.sisgerCode }}</td>
                            <td>{{ receipe.creationDate|date('d/m/Y') }}</td>
                            <td>
                                <label style="color: #008000">{{ receipe.importe }} USD</label>
                            </td>
                            <td>{{ receipe.origen.name }}</td>
                            <td>{{ receipe.destino.name }}</td>
                            <td>{{ receipe.suma }}</td>
                            <td>{{ receipe.concepto }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-right">
                    {{ knp_pagination_render(entities) }}
                </div>
            </div>
            <!-- /.col -->

            <!-- /.row -->
        </section>

    </div><!-- /.content-wrapper -->


    <div class="modal fade" id="myModalHorizontal1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="putYourTitleHere">

                    </h4>
                </div>

                <!-- Modal Body -->
                <div id="putContentHere" class="modal-body">
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <div id="putYourFooterHere">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript_inline %}
    <script type="text/javascript" charset="utf8"
            src="{{ asset('bundles/backend/lte/plugins/datatables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" charset="utf8"
            src="{{ asset('bundles/backend/lte/plugins/datatables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/daterangepicker/moment.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/toastr-master/toastr.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/PopConfirm-master/jquery.popconfirm.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/lte/plugins/toastr-master/toastr.js') }}"></script>
    <script src="{{ asset('bundles/backend/js/traspasos.js') }}"></script>
    <script>
        $(".item-tree").removeClass("active");
        $("#traspasos").addClass("active");

    </script>
    <script>
        {% for flashMessage in app.session.flashbag.get('danger') %}
        lanzarError("{{ flashMessage }}");
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
        lanzarOk("{{ flashMessage }}");
        {% endfor %}

    </script>
{% endblock %}