{% set layout = "BackendBundle::L-BRS.html.twig" %}
 {% extends layout %}
 {% block stylesheet_inline %}
     <!-- BEGIN PAGE LEVEL STYLES -->
     <link rel="stylesheet" type="text/css"
           href="{{ asset('bundles/backend/global/plugins/bootstrap-toastr/toastr.min.css') }}"/>
     <link rel="stylesheet" type="text/css"
           href="{{ asset('bundles/backend/global/plugins/bootstrap-select/bootstrap-select.min.css') }}"/>
     <link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/global/plugins/select2/select2.css') }}"/>
     <link rel="stylesheet" type="text/css"
           href="{{ asset('bundles/backend/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
     <!-- END PAGE LEVEL STYLES -->
    <style>
        .is_fixed {
            position: fixed;
            top: 70px;
            width: 55%; 
            overflow-y: auto;
            max-height: 82vh;
        }
    </style>
 {% endblock %}
{% block title %}Programador{% endblock %}
  {% block breadtitle %} <h1>Programador</h1> {% endblock %}
    {% block breadcrumb %}
        <li class="active">Programador</li>
    {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5 portlet_floting_referece">
            <div class="portlet light bordered">

                <div class="portlet-body">
                    <div id="tree_3" class="tree-demo">
                        <ul>
                            <li class="raiz tooltips"
                                data-tipo="raiz"
                                data-jstree='{ "type" : "raiz" }'>
                                Programador
                                <ul>
                                    {% for anno in entities %}
                                        <li class="anno tooltips"
                                            data-delete="{{ path('anno_delete', {'id':anno.id}) }}"
                                            data-tipo="anno" data-id="{{ anno.id }}"
                                            data-jstree='{ "type" : "anno" }'>
                                            {{ anno.nombre }}
                                            <ul>
                                                {% for mes in anno.getMesesOrdenados() %}
                                                    <li class="mes tooltips"
                                                        data-delete="{{ path('mes_delete', {'id':mes.id}) }}"
                                                        data-tipo="mes" data-id="{{ mes.id }}"
                                                        data-jstree='{ "type" : "mes" }'>
                                                        {{ mes.nombre }}
                                                        <ul>
                                                            {% for contenedor in mes.getContenedoresActivos() %}
                                                                <li class="contenedor tooltips"
                                                                    data-tipo="contenedor"
                                                                    data-jstree='{ "type" : "contenedor" }'
                                                                    data-delete="{{ path('contenedor_delete', {'id':contenedor.id}) }}"
                                                                    data-edit="{{ path('contenedor_edit', { 'id': contenedor.id }) }}"
                                                                    data-id="{{ contenedor.id }}">
                                                                    {{ contenedor }}
                                                                    <ul>
                                                                        {% for concepto in contenedor.getConceptos() %}
                                                                            <li class="concepto tooltips"
                                                                                data-tipo="concepto"
                                                                                data-jstree='{ "type" : "concepto" }'
                                                                                data-move="{{ path('concepto_move', { 'id': concepto.id }) }}"
                                                                                data-id="{{ concepto.id }}">
                                                                                {{ concepto.getSisgerCode() }}
                                                                                <ul>
                                                                                    {% for bulto in concepto.getBultos() %}
                                                                                        <li class="bulto tooltips"
                                                                                            data-tipo="bulto"
                                                                                            data-jstree='{ "type" : "bulto" }'
                                                                                            data-id="{{ bulto.id }}">
                                                                                            Bulto #{{ bulto.indice }}
                                                                                            <ul>
                                                                                                {% for mercancia in bulto.mercancias %}
                                                                                                    <li class="mercancia tooltips"
                                                                                                        data-tipo="mercancia"
                                                                                                        data-jstree='{ "type" : "mercancia" }'
                                                                                                        data-id="{{ mercancia.id }}">
                                                                                                        {{ mercancia.descripcion }}
                                                                                                    </li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        </li>

                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="alert alert-info no-margin margin-top-10">
                        Nota: Arrastre conceptos de un contenedor a otro para cambiar su ubicaci&oacute;n. Haga click
                        derecho encima de un nodo del &aacute;rbol para ver las opciones disponibles.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">

            <div class="portlet light bordered" id="portlet_floting">
                <div class="portlet-body" id="detalles">
                    <div style="text-align: center" class="well no-margin">
                        <h2 style="color: #6c6159">Haga click en un nodo para ver sus detalles.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# modals #}
    <div class="modal fade" id="modalNewAnno" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Agregar a&ntilde;o
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form action="{{ path('anno_create') }}" role="form" id="newAnno" method="post"
                          class="form-horizontal">

                        <div class="form-group">
                            <div class="col-sm-2"><label class="control-label"><span style="color: red"
                                                                                     class="required">*&nbsp;</span>A&ntilde;o</label>
                            </div>
                            <div class="col-sm-10">
                                <div class="input-group date date-picker" data-date-format="yyyy"
                                     data-date-viewmode="years"
                                     data-date-minviewmode="years" data-date-start-date="+0d">
                                    <input id="anno" name="anno" type="text" class="form-control">
                                    <span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i>
                                                </button>
												</span>
                                </div>

                            </div>
                        </div>

                    </form>

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="newAnno" type="submit" class="btn btn-flat btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalNewMes" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Agregar mes
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form action="{{ path('mes_create') }}" role="form" id="newMes" method="post"
                          class="form-horizontal">
                        <input type="hidden" name="annoid" id="annoid">

                        <div class="form-group">
                            <div class="col-sm-2"><label class="control-label"><span style="color: red"
                                                                                     class="required">*&nbsp;</span>Mes</label>
                            </div>
                            <div class="col-sm-10">
                                <div class="input-group date date-picker" data-date-format="mm"
                                     data-date-viewmode="months"
                                     data-date-minviewmode="months" data-date-start-date="+0d">
                                    <input id="mes" name="mes" type="text" class="form-control">
                                    <span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i>
                                                </button>
												</span>
                                </div>

                            </div>
                        </div>

                    </form>


                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="newMes" type="submit" class="btn btn-flat btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalHorizontal1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Editar datos de contenedor
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body" id="editContenedorResponse">

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="editContenedor" type="submit" class="btn btn-flat btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
    {# modals #}
    <div class="modal fade" id="myModalHorizontal" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Crear contenedor nuevo
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    {{ render(controller('BackendBundle:Contenedor:new', {request: app.request})) }}
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="newContenedor" type="submit" class="btn btn-flat btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript_inline %}
    <script src="{{ asset('bundles/backend/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js') }}"
            type="text/javascript"></script>

    <script src="{{ asset('bundles/backend/global/plugins/bootstrap-toastr/toastr.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/backend/global/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/backend/global/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/global/plugins/bootstrap-daterangepicker/moment.min.js') }}"
            type="text/javascript"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/backend/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/backend/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js') }}"
            type="text/javascript"></script>
    <script>

        $("#tree_3").jstree({
            "core": {
                "themes": {
                    "responsive": false
                },
                // so that create works
                "check_callback": function (operation, node, node_parent, node_position, more) {
                    var currentNode = $('#tree_3').jstree('get_node', node, true);
                    var targetNode = $('#tree_3').jstree('get_node', node_parent, true);
                    if (operation == 'move_node') {

                        var $form = null,
                            url = currentNode.data('move'),
                            method = 'post';
                        $.ajax({
                            data: {'target': targetNode.data('id')},
                            type: method,
                            url: url,
                            success: function (response) {
                                location.href = "{{ path('anno') }}";

                            }
                        });
                    }
                    // operation can be 'create_node', 'rename_node', 'delete_node', 'move_node' or 'copy_node'
                    // in case of 'rename_node' node_position is filled with the new node name
                    return true;
                }
            },
            "types": {
                "mercancia": {
                    "icon": "fa fa-circle-o icon-state-info",
                    "valid_children": ''
                },
                "bulto": {
                    "icon": "icon-social-dropbox icon-state-success",
                    "valid_children": ['mercancia']

                },
                "concepto": {
                    "icon": "fa fa-folder icon-state-success icon-lg",
                    "valid_children": ''
                },

                "contenedor": {
                    "icon": "fa fa-folder icon-state-info icon-lg",
                    "valid_children": ['concepto']
                },
                "mes": {
                    "icon": "fa fa-folder icon-state-warning icon-lg",
                    "valid_children": ['contenedor']
                },
                "anno": {
                    "icon": "fa fa-folder icon-state-warning icon-lg",
                    "valid_children": ['mes']
                },
                "raiz": {
                    "icon": "fa fa-folder icon-state-danger icon-lg",
                    "valid_children": ['anno']
                },
                "#": {
                    "valid_children": ['raiz']
                }

            },
            "contextmenu": {
                items: customMenu,
                select_node: false
            },

            "dnd": {
                check_while_dragging: false
            },
            "plugins": ["contextmenu", "dnd", "state", "types"]
        })

        function customMenu(node) {
            // The default set of all items
            var currentNode = $('#tree_3').jstree('get_node', node, true);
            var items = {
                createAnnoItem: { // The "delete" menu item
                    label: "Crear año",
                    action: function () {
                        $('#modalNewAnno').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                        $('.date-picker').datepicker();
                    }
                },

                createMesItem: { // The "delete" menu item
                    label: "Crear mes",
                    action: function () {
                        document.getElementById('annoid').value = currentNode.data('id');
                        $('#modalNewMes').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                        $('.date-picker').datepicker();
                    }
                },

                createContenedorItem: { // The "delete" menu item
                    label: "Crear contenedor",
                    action: function () {
                        var mes = currentNode.data('id');
                        url = "{{ path('contenedor_new') }}";
                        $.ajax({
                            data: null,
                            type: 'post',
                            url: url,
                            success: function (response) {
                                //    node = $('#tree_3').jstree('create_node', node, { text: 'Bulto #' + response, icon: 'icon-social-dropbox icon-state-success' });
                                document.getElementById('mes').value = currentNode.data('id');
                                $('#myModalHorizontal').modal({
                                    backdrop: 'static',
                                    keyboard: false
                                });
                                $("#belraysa_backendbundle_contenedor_volumenM3").TouchSpin({
                                    buttondown_class: 'btn blue',
                                    buttonup_class: 'btn blue',
                                    min: 0,
                                    max: '9 999 999',
                                    step: 0.01,
                                    decimals: 2,
                                    boostat: 5,
                                    maxboostedstep: 10,
                                    prefix: 'M3'
                                });
                                $("#belraysa_backendbundle_contenedor_maxPesoKg").TouchSpin({
                                    buttondown_class: 'btn blue',
                                    buttonup_class: 'btn blue',
                                    min: 0,
                                    max: '9 999 999',
                                    step: 0.01,
                                    decimals: 2,
                                    boostat: 5,
                                    maxboostedstep: 10,
                                    prefix: 'Kgs'
                                });
                                $('.date-picker').datepicker();
                            }
                        });
                    }
                },

                editContenedorItem: { // The "delete" menu item
                    label: "Editar contenedor",
                    action: function () {
                        url = currentNode.data('edit');
                        $.ajax({
                            data: null,
                            type: 'post',
                            url: url,
                            success: function (response) {
                                //    node = $('#tree_3').jstree('create_node', node, { text: 'Bulto #' + response, icon: 'icon-social-dropbox icon-state-success' });
                                $('#myModalHorizontal1').modal({
                                    backdrop: 'static',
                                    keyboard: false
                                });
                                $('#editContenedorResponse').html(response);
                                $("#belraysa_backendbundle_contenedor_volumenM3").TouchSpin({
                                    buttondown_class: 'btn blue',
                                    buttonup_class: 'btn blue',
                                    min: 0,
                                    max: '9 999 999',
                                    step: 0.01,
                                    decimals: 2,
                                    boostat: 5,
                                    maxboostedstep: 10,
                                    prefix: 'M3'
                                });
                                $("#belraysa_backendbundle_contenedor_maxPesoKg").TouchSpin({
                                    buttondown_class: 'btn blue',
                                    buttonup_class: 'btn blue',
                                    min: 0,
                                    max: '9 999 999',
                                    step: 0.01,
                                    decimals: 2,
                                    boostat: 5,
                                    maxboostedstep: 10,
                                    prefix: 'Kgs'
                                });
                                $('.date-picker').datepicker();
                            }
                        });
                    }
                },


                agregarConceptoItem: { // The "delete" menu item
                    label: "Agregar conceptos",
                    action: function () {
                        document.getElementById('contenedorid').value = currentNode.data('id');
                        $('#modalAgregarConceptos').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    }
                },


                deleteAnnoItem: { // The "delete" menu item
                    label: "Eliminar año",
                    action: function () {

                        $.ajax({
                            data: null,
                            type: 'post',
                            url: currentNode.data('delete'),
                            success: function (response) {
                                //  $('#tree_3').jstree('delete_node', node, true);
                                location.href = "{{ path('anno') }}";

                            }
                        });
                    }
                },

                deleteMesItem: { // The "delete" menu item
                    label: "Eliminar mes",
                    action: function () {

                        $.ajax({
                            data: null,
                            type: 'post',
                            url: currentNode.data('delete'),
                            success: function (response) {
                                //  $('#tree_3').jstree('delete_node', node, true);
                                location.href = "{{ path('anno') }}";

                            }
                        });
                    }
                },
                deleteContenedorItem: { // The "delete" menu item
                    label: "Eliminar contenedor",
                    action: function () {
                        $.ajax({
                            data: null,
                            type: 'post',
                            url: currentNode.data('delete'),
                            success: function (response) {
                                //  $('#tree_3').jstree('delete_node', node, true);
                                location.href = "{{ path('anno') }}";

                            }
                        });
                    }
                }


            };

            if (currentNode.hasClass("raiz")) {
                // Delete the "delete" menu item
                //delete items.createAnnoItem;
                delete items.createMesItem;
                delete items.createContenedorItem;
                delete items.editContenedorItem;
                delete items.agregarConceptoItem;
                delete items.deleteAnnoItem;
                delete items.deleteMesItem;
                delete items.deleteContenedorItem;
                {% if app.user.role.name == 'ROLE_OPERATOR' %}
                delete items.createAnnoItem;
                {% endif %}
            }

            if (currentNode.hasClass("anno")) {
                // Delete the "delete" menu item
                delete items.createAnnoItem;
                {% if app.user.role.name == 'ROLE_OPERATOR' %}
                delete items.createMesItem;
                delete items.deleteAnnoItem;
                {% endif %}
                delete items.createContenedorItem;
                delete items.editContenedorItem;
                delete items.agregarConceptoItem;
                delete items.deleteMesItem;
                delete items.deleteContenedorItem;
            }

            if (currentNode.hasClass("mes")) {
                // Delete the "delete" menu item
                delete items.createAnnoItem;
                delete items.createMesItem;
                {% if app.user.role.name == 'ROLE_OPERATOR' %}
                delete items.createContenedorItem;
                delete items.deleteMesItem;
                {% endif %}
                delete items.editContenedorItem;
                delete items.agregarConceptoItem;
                delete items.deleteAnnoItem;
                delete items.deleteContenedorItem;
            }

            if (currentNode.hasClass("contenedor")) {
                // Delete the "delete" menu item
                delete items.createAnnoItem;
                delete items.createMesItem;
                delete items.createContenedorItem;
                {% if app.user.role.name == 'ROLE_OPERATOR' %}
                delete items.editContenedorItem;
                delete items.deleteContenedorItem;
                {% endif %}
                delete items.agregarConceptoItem;
                delete items.deleteAnnoItem;
                delete items.deleteMesItem;
            }

            if (currentNode.hasClass("concepto")) {
                // Delete the "delete" menu item
                delete items.createAnnoItem;
                delete items.createMesItem;
                delete items.createContenedorItem;
                delete items.editContenedorItem;
                delete items.agregarConceptoItem;
                delete items.deleteAnnoItem;
                delete items.deleteMesItem;
                delete items.deleteContenedorItem;
            }
            if (currentNode.hasClass("bulto")) {
                // Delete the "delete" menu item
                delete items.createAnnoItem;
                delete items.createMesItem;
                delete items.createContenedorItem;
                delete items.editContenedorItem;
                delete items.agregarConceptoItem;
                delete items.deleteAnnoItem;
                delete items.deleteMesItem;
                delete items.deleteContenedorItem;
            }
            if (currentNode.hasClass("mercancia")) {
                // Delete the "delete" menu item
                delete items.createAnnoItem;
                delete items.createMesItem;
                delete items.createContenedorItem;
                delete items.editContenedorItem;
                delete items.agregarConceptoItem;
                delete items.deleteAnnoItem;
                delete items.deleteMesItem;
                delete items.deleteContenedorItem;
            }


            return items;


        }

        $('#tree_3').on('select_node.jstree', function (e, data) {
            var tipo = $('#' + data.selected).data('tipo');
            if (tipo) {
                var id = $('#' + data.selected).data('id');

                if (id) {

                    if (tipo == 'mercancia') {
                        url = "{{ path('mercancia_show') }}";
                        $.ajax({
                            data: {'id': id},
                            type: 'get',
                            url: url,
                            success: function (response) {
                                $('#detalles').html(response);

                            }
                        });
                    } else if (tipo == 'bulto') {
                        url = "{{ path('bulto_show') }}";
                        $.ajax({
                            data: {'id': id},
                            type: 'get',
                            url: url,
                            success: function (response) {
                                $('#detalles').html(response);

                            }
                        });
                    } else if (tipo == 'concepto') {
                        url = "{{ path('concepto_show') }}";
                        $.ajax({
                            data: {'id': id},
                            type: 'get',
                            url: url,
                            success: function (response) {
                                $('#detalles').html(response);

                            }
                        });
                    } else if (tipo == 'contenedor') {
                        url = "{{ path('contenedor_show_1') }}";
                        $.ajax({
                            data: {'id': id},
                            type: 'get',
                            url: url,
                            success: function (response) {
                                $('#detalles').html(response);

                            }
                        });
                    }
                }
            }
        });
    </script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": true,
            "newestOnTop": false,
            "progressBar": false,
            "rtl": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": 300,
            "hideDuration": 1000,
            "timeOut": 10000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        {% for flashMessage in app.session.flashbag.get('danger') %}
        lanzarError("{{ flashMessage }}");
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
        lanzarOk("{{ flashMessage }}");
        {% endfor %}

        function lanzarOk(mensaje) {
            Command: toastr["success"](mensaje);
        }

        function lanzarError(mensaje) {
            Command: toastr["error"](mensaje);
        }
    </script>

    <script>

        $(document).ready(function(){
            $(window).scroll(function(){

                console.log($(window).scrollTop())
                console.log('ref', $('.portlet_floting_referece').offset().top)


                if ($(window).scrollTop() > $('.portlet_floting_referece').offset().top) {
                    $('#portlet_floting').addClass('is_fixed');
                }
                if ($(window).scrollTop() <  $('.portlet_floting_referece').offset().top) {
                    $('#portlet_floting').removeClass('is_fixed');
                }
            });
        });


    </script>

{% endblock %}