<form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" id="sendContactEmail">

    <div class="form-group">
        <label class="control-label col-sm-2"><span style="color: red" class="required">*&nbsp;</span>Nombre</label>

        <div class="col-sm-10">
            {{ form_widget(form.nombre, {'attr':{'class':'form-control' }}) }}
            {{ form_errors(form.nombre) }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2"><span style="color: red" class="required">*&nbsp;</span>Correo</label>

        <div class="col-sm-10">
            {{ form_widget(form.email, {'attr':{'class':'form-control' }}) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2"><span style="color: red"
                                                    class="required">*&nbsp;</span>Motivo</label>

        <div class="col-sm-10">
            {{ form_widget(form.motivo, {'attr':{'class':'form-control' }}) }}
            {{ form_errors(form.motivo) }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2"><span style="color: red"
                                                    class="required">*&nbsp;</span>Mensaje</label>

        <div class="col-sm-10">
            {{ form_widget(form.mensaje, {'attr':{'class':'form-control' }}) }}
            {{ form_errors(form.mensaje) }}
        </div>
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

</form>
