<br>
<table class="table table-hover" id="datatable_receipes">
    <thead>
    <tr>
        <th>Id</th>
        <th>Expediente</th>
        <th>Fecha de creaci&oacute;n</th>
        <th>Importe</th>
        <th>Recib&iacute; de</th>
        <th>Suma</th>
        <th>Concepto</th>
        <th>Espacio</th>
        <th>Tipo</th>
        <th style="text-align: center">
            Acciones
        </th>
    </tr>
    </thead>
    <tbody>
    {% for receipe in receipes %}
        <tr  {% if receipe.isActivo() == false %}   style="  color:#a7a7a7; " {% endif %}  >
            {#los [] al final es para q en el servidor me lo tome como un arreglo y poder hacer todas las acciones de busqueda etc#}
            <td>{{ receipe.sisgerCode }}</td>
            <td>
                {% if receipe.reply %}
                    <a href="{{ path('reply_show', { 'id': receipe.reply.id }) }}">{{ receipe.reply.sisgerCode }}</a>
                {% endif %}
            </td>
            <td>{{ receipe.creationDate|date('d/m/Y') }}</td>
            <td>{{ receipe.importe }}</td>
            <td>{{ receipe.recibide }}</td>
            <td>{{ receipe.suma }}</td>
            <td>{{ receipe.concepto }}</td>
            <td>{{ receipe.type }}</td>
            <td>
                {% if receipe.reply %}
                {% if receipe.reply.workspace %}
                    <span class="label label-default">{{ receipe.reply.workspace.name }}</span>
                {% else %}
                    <span class="label label-default">Sin asignar</span>
                {% endif %}
                    <span class="label label-default">G-BRS</span>
                {% endif %}
            </td>
            <td style="text-align: center">
                <div class="mailbox-controls">
                    <div class="btn-group">
                        <a title="Generar PDF" id="show_button"
                           href="{{ path('receipe_generate_pdf', { 'receipeId': receipe.id}) }}"
                           class="btn btn-flat btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i>
                        </a>

                        {% if app.user.id == receipe.user.id or app.user.role.name == "ROLE_SUPER_ADMIN" %}
                            {% if receipe.isActivo() %}
                                <a title="Cancelar" id="cancel_button"
                                   href="{{ path('receipe_cancel', { 'id': receipe.id }) }}"
                                   data-toggle="confirmation"
                                   class="btn btn-flat btn-default btn-sm"><i class="fa fa-trash-o"></i>
                                </a>
                            {% else %}
                                <a title="Activar" id="activate_button"
                                   href="{{ path('receipe_activate', { 'id': receipe.id }) }}"
                                   class="btn btn-flat btn-default btn-sm"><i class="fa fa-check"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_minimal-grey',
        radioClass: 'iradio_minimal-grey'
    });

    $("[data-toggle='confirmation']").popConfirm({
        title: "¿Está seguro?", // The title of the confirm
        content: "¿Está seguro de que desea cancelar?", // The message of the confirm
        placement: "bottom", // The placement of the confirm (Top, Right, Bottom, Left)
        container: "body", // The html container
        yesBtn: "Sí",
        noBtn: "No"
    });


    $('#datatable_receipes').DataTable(
            {
                "columns": [
                    {"orderable": false},
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    {"orderable": false}
                ],
                "paginate": true
            }
    );
</script>