<form action="{{ path('contenedor_agregar_hbls2', { 'id': entity.id }) }}" role="form" id="editContenedor" method="post"
      class="form-horizontal">
    {% for concepto in conceptos %}
        <div class="col-sm-12">
            <img alt="*{{ concepto.sisgerCode }}*"
                 src="{{ path('mercancia_barcode', { 'id': concepto.sisgerCode,  'size': 20 }) }}"/>
            <input type="hidden" value="{{ nomenclador.id }}" name="conceptos[]">
            <div class="col-sm-10 pull-left">
                <div class="col-sm-12 pull-left">
                    <input class="minimal" type="checkbox"
                           name="lectura[{{ nomenclador.id }}]" {% for concepto in entity.permisos %}{% if permiso.nomenclador.id == nomenclador.id and permiso.lectura %}{% set contadorLectura = contadorLectura + 1 %} checked {% endif %}{% endfor %}>

                </div>
            </div>
        </div>

    {% endfor %}
</form>
