{% set layout = "BackendBundle::L-BRS.html.twig" %}
 {% extends layout %}
 {% block stylesheet_inline %}
     <!-- BEGIN PAGE LEVEL STYLES -->
     <link rel="stylesheet" type="text/css"
           href="{{ asset('bundles/backend/global/plugins/bootstrap-toastr/toastr.min.css') }}"/>
     <link rel="stylesheet" type="text/css"
           href="{{ asset('bundles/backend/global/plugins/bootstrap-select/bootstrap-select.min.css') }}"/>
     <link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/global/plugins/select2/select2.css') }}"/>
     <link rel="stylesheet" type="text/css"
           href="{{ asset('bundles/backend/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"/>
     <!-- END PAGE LEVEL STYLES -->
 {% endblock %}
{% block title %}ENAs{% endblock %}
  {% block breadtitle %} <h1>ENAs</h1> {% endblock %}
    {% block breadcrumb %}
        <li class="active">ENAs</li>
    {% endblock %}

{% block content %}
    {# Buscador #}
    <div class="row">
        <div class="table-responsive">
            <form id="envio_filter_form" action="{{ path('ena_filter') }}" method="get">
                <table class="table table-striped table-bordered table-hover" id="datatable_orders">
                    <thead>
					    <tr role="row" class="heading">
                            <th>
                                Búsqueda
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                                <input value={{ query }} type="text" class="form-control form-filter input-sm" name="query">
                            </td>
                            <td>
                                <div class="btn-group">   
                                    <button name="buscar" type="submit" class="btn btn-sm blue filter-submit margin-bottom">
                                        <i class="fa fa-search"></i>
                                    </button>
    
                                    <button type="reset" class="btn btn-sm gray filter-cancel">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </form>
        </div>
    </div>


    <div class="row">
        <input type="hidden" id="exp_id" value="{{ exp_id }}"/>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-advance table-hover" id="table">
                <thead>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>RTTE/CSGN</th>
                        <th>Fecha Entrada</th>
                        <th>Fecha Salida</th>
                        <th>Cant. bultos</th>
                        <th>Contenedor</th>

                        <th style="text-align: center">
                            <div class="mailbox-controls">
                                <div class="btn-group">
                                    <a title="Crear ENA" data-toggle="modal" type="button" data-backdrop="static" data-keyboard="false" onclick="updateContenedores();" data-target="#modalNewENA" data-path="{{ path('ena_new') }}" tabindex="-1" class="btn btn-flat btn-default btn-sm">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>

                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for concepto in entities %}
                        <tr {% if concepto.contenedor %} {% if concepto.contenedor.estado == 'CERRADO' %} style="  color:#a7a7a7; " {% endif %} {% endif %}>
                            <td>
                                <img alt="{{ concepto.sisgerCode }}" src="{{ path('bulto_barcode', { 'id': concepto.sisgerCode, 'size': 20 }) }}"/>
                            </td>
                            {#los [] al final es para q en el servidor me lo tome como un arreglo y poder hacer todas las acciones de busqueda etc#}
                            <td>
                                {% set client = concepto.remitente %}
                                <a title="Editar datos del cliente" id="edit_cliente_button" data-path="{{ path('client_edit1', { 'id': client.id }) }}" href="#">{{ concepto.remitente.firstName }}
                                    {{ concepto.remitente.lastName }}</a>
                            </td>

                            <td>
                                {{ concepto.fechaEntrada|date('d/M/Y') }}
                            </td>
                            <td>
                                {{ concepto.fechaSalida|date('d/M/Y') }}
                            </td>
                            <td>
                                {{ concepto.bultos|length }}
                            </td>
                            <td>
                                {% if concepto.contenedor %}
                                    {% if concepto.contenedor.estado == 'CERRADO' %}
                                        <span class="label label-default">
                                            <i class="fa fa-lock"></i>
                                            {{ concepto.contenedor }}</span>
                                    {% elseif concepto.contenedor.estado == 'COMPLETANDO' %}
                                        <span class="label label-success">
                                            {{ concepto.contenedor }}</span>
                                    {% else %}
                                        <span class="label label-warning">
                                            {{ concepto.contenedor }}</span>
                                    {% endif %}
                                {% else %}
                                    <span class="label label-danger">SIN ASIGNAR</span>
                                {% endif %}
                            </td>

                            <td style="text-align: center">
                                <div class="mailbox-controls">
                                    <div class="btn-group">
                                        <a title="Ver bultos" id="show_button" type="button" onclick="startPageLoading()" href="{{ path('bulto', { 'concepto': concepto.id }) }}" class="btn btn-flat btn-default btn-sm">
                                            <i class="icon-social-dropbox"></i>
                                        </a>

                                        {% if concepto.contenedor == false %}
                                            <a title="Editar datos" id="edit_button" type="button" data-path="{{ path('ena_edit', { 'id': concepto.id }) }}" href="#" class="btn btn-flat btn-default btn-sm">
                                                <i class="icon-pencil"></i>
                                            </a>
                                            <a class="btn btn-sm btn-flat btn-default" data-toggle="confirmation" data-href="{{ path('ena_delete', { 'id': concepto.id }) }}" data-placement="left" data-btn-ok-label="Continuar" data-btn-cancel-label="Cancelar" data-original-title="¿Está seguro de que desea eliminar?" title="" href="{{ path('ena_delete', { 'id': concepto.id }) }}">
                                                <i class="icon-trash"></i>
                                            </a>
                                        {% else %}
                                            {% if concepto.contenedor.estado != 'CERRADO' %}
                                                <a title="Editar datos" id="edit_button" type="button" data-path="{{ path('ena_edit', { 'id': concepto.id }) }}" href="#" class="btn btn-flat btn-default btn-sm">
                                                    <i class="icon-pencil"></i>
                                                </a>
                                                <a class="btn btn-sm btn-flat btn-default" data-toggle="confirmation" data-href="{{ path('ena_delete', { 'id': concepto.id }) }}" data-placement="left" data-btn-ok-label="Continuar" data-btn-cancel-label="Cancelar" data-original-title="¿Está seguro de que desea eliminar?" title="" href="{{ path('ena_delete', { 'id': concepto.id }) }}">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}

                                        {% if concepto.estado == 'HBL' %}
                                            <a class="btn btn-sm btn-flat btn-default" title="Obtener HBL" href="{{ path('concepto_hbl', { 'id': concepto.id }) }}">
                                                <i class="fa fa-file-excel-o"></i>
                                            </a>
                                        {% else %}
                                            {% if flag_hbl == 'si' %}
                                                <a class="btn btn-sm btn-flat btn-default" title="Convertir en HBL" onclick="startPageLoading()" href="{{ path('concepto_to_hbl', { 'id': concepto.id }) }}">
                                                    <i style="color: #008000" class="fa fa-check"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>

    {# modal1--> Crear ENA #}
    <div class="modal fade" id="modalNewENA" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div
                class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">
                        Crear ENA
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    {{ include("BackendBundle:ENA:new.html.twig") }}
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="newENA" type="submit" class="btn btn-flat btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    {# modal2--> Editar Datos confirm #}
    <div class="modal fade" id="modalEdit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div
                class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">
                        Editar datos
                    </h4>
                </div>

                <!-- Modal Body -->
                <div id="modalEditContent" class="modal-body"></div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="edit" type="submit" class="btn btn-flat btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    {# modal3--> Editar Cliente #}
    <div class="modal fade" id="modalEditCliente" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div
                class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">
                        Editar datos
                    </h4>
                </div>

                <!-- Modal Body -->
                <div id="modalEditClienteContent" class="modal-body"></div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button form="editCliente" type="submit" class="btn btn-flat btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript_inline %}
    <script src="{{ asset('bundles/backend/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js') }}"
            type="text/javascript"></script>

    <script src="{{ asset('bundles/backend/global/plugins/bootstrap-toastr/toastr.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/backend/global/plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/backend/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/backend/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/backend/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/backend/global/plugins/jquery-validation/js/additional-methods.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/backend/others/regionselector/dist/crs.min.js') }}"></script>
    <script>
        var flag_dni = true;
        var flag_passport = true;
        jQuery(document).ready(function () {
            Form.init();
            $('.date-picker').datepicker();
            if($('#exp_id').val() != 0){
                $('#modalNewENA').modal('show');
            }
        });
     /*   updateContenedores();
        function updateContenedores() {
            //   alert(document.getElementById('belraysa_backendbundle_ena_contenedor'));
            if (document.getElementById('radio6').checked) {
                document.getElementById('belraysa_backendbundle_ena_contenedor').disabled = false;
              //  document.getElementById('belraysa_backendbundle_ena_code').disabled = true;
                // alert(document.getElementById('belraysa_backendbundle_ena_contenedor'));
            } else {
                document.getElementById('belraysa_backendbundle_ena_contenedor').disabled = true;
              //  document.getElementById('belraysa_backendbundle_ena_code').disabled = false;
                //  alert(document.getElementById('belraysa_backendbundle_ena_contenedor'));
            }
        }*/
        function disableSelector(val){
            var selector = $('#belraysa_backendbundle_ena_contenedor');
            if(val == "HBL"){
                selector.select2("val",$('#belraysa_backendbundle_ena_contenedor option:eq(1)').val());
                selector.prop('disabled', true);
            }
            else{
                selector.select2("val",$('#belraysa_backendbundle_ena_contenedor option:eq(0)').val());
                selector.prop('disabled', false);
            }
        }

        toastr.options = {
            "closeButton": true,
            "debug": true,
            "newestOnTop": false,
            "progressBar": false,
            "rtl": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": 300,
            "hideDuration": 1000,
            "timeOut": 10000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        {% for flashMessage in app.session.flashbag.get('danger') %}
        lanzarError("{{ flashMessage }}");
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
        lanzarOk("{{ flashMessage }}");
        {% endfor %}

        function lanzarOk(mensaje) {
            Command: toastr["success"](mensaje);
        }
        function lanzarError(mensaje) {
            Command: toastr["error"](mensaje);
        }

        $(document).on("click", '#edit_button', function (e) {
            startPageLoading()
            e.preventDefault();
            var $form = null,
                    url = $(this).data('path'),
                    method = 'post';
            $.ajax({
                data: null,
                type: method,
                url: url,
                success: function (response) {
                    $('#modalEditContent').html(response);
                    $('#modalEdit').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    FormEdit.init();
                    $('.date-picker').datepicker();
                    stopPageLoading()
                },
                error: function (response) {
                    stopPageLoading();
                }
            });
        });
    </script>
    <script>
    var Form = function () {
        return {
            //main function to initiate the module
            init: function () {
                var form = $('#newENA');
                jQuery.validator.addMethod("daterange", function (value, element, params) {
                    var checkIn = document.getElementById(params).value;
                    if (checkIn) {
                        var checkOut = value;
                        var splittedCheckIn = checkIn.split('-');
                        var splittedCheckOut = checkOut.split('-');
                        var checkInDate = new Date(splittedCheckIn[2], splittedCheckIn[1] - 1, splittedCheckIn[0]);
                        var checkOutDate = new Date(splittedCheckOut[2], splittedCheckOut[1] - 1, splittedCheckOut[0]);
                        if (checkInDate < checkOutDate) {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return true;
                    }
                }, "");


                form.validate({
                    doNotHideMessage: false, //this option enables to show the error/success messages on tab switch.
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    rules: {
                        //informacion personal
                        "belraysa_backendbundle_ena[remitente]": {
                            required: true
                        },
                        "belraysa_backendbundle_ena[fechaEntrada]": {
                            required: true
                        },
                        "belraysa_backendbundle_ena[fechaSalida]": {
                            required: true,
                            daterange: "belraysa_backendbundle_ena_fechaEntrada"
                        },
                        "estado": {
                            required: true
                        }

                    },

                    messages: { // custom messages
                        "belraysa_backendbundle_ena[remitente]": {
                            required: "Este campo es requerido."
                        },
                        "belraysa_backendbundle_ena[fechaEntrada]": {
                            required: ""
                        },
                        "belraysa_backendbundle_ena[fechaSalida]": {
                            required: ""
                        },
                        "estado": {
                            required: "Este campo es requerido."
                        }

                    },


                    highlight: function (element) { // hightlight error inputs
                        $(element)
                                .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                                .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    submitHandler: function (form) {

                        //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                        startPageLoading();
                        form.submit();
                    }

                });


            }

        };

    }();
    var FormEdit = function () {
        return {
            //main function to initiate the module
            init: function () {
                var formEdit = $('#edit');
                jQuery.validator.addMethod("daterange", function (value, element, params) {
                    var checkIn = document.getElementById(params).value;
                    if (checkIn) {
                        var checkOut = value;
                        var splittedCheckIn = checkIn.split('-');
                        var splittedCheckOut = checkOut.split('-');
                        var checkInDate = new Date(splittedCheckIn[2], splittedCheckIn[1] - 1, splittedCheckIn[0]);
                        var checkOutDate = new Date(splittedCheckOut[2], splittedCheckOut[1] - 1, splittedCheckOut[0]);
                        if (checkInDate < checkOutDate) {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return true;
                    }
                }, "");


                formEdit.validate({
                    doNotHideMessage: false, //this option enables to show the error/success messages on tab switch.
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    rules: {
                        //informacion personal
                        "belraysa_backendbundle_ena_edit[remitente]": {
                            required: true
                        },
                        "belraysa_backendbundle_ena_edit[fechaEntrada]": {
                            required: true
                        },
                        "belraysa_backendbundle_ena_edit[fechaSalida]": {
                            required: true,
                            daterange: "belraysa_backendbundle_ena_fechaEntrada"
                        }

                    },

                    messages: { // custom messages
                        "belraysa_backendbundle_ena_edit[remitente]": {
                            required: "Este campo es requerido."
                        },
                        "belraysa_backendbundle_ena_edit[fechaEntrada]": {
                            required: ""
                        },
                        "belraysa_backendbundle_ena_edit[fechaSalida]": {
                            required: ""
                        }


                    },


                    highlight: function (element) { // hightlight error inputs
                        $(element)
                                .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                                .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    submitHandler: function (form) {

                        //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                        startPageLoading();
                        form.submit();
                    }

                });


            }

        };

    }();
    var FormCliente = function () {
        return {
            //main function to initiate the module
            init: function () {
                var form = $('#newClient');
                jQuery.validator.addMethod("cubanid", function (value, element) {
                    if (document.getElementById('belraysa_backendbundle_client_country').value == 'Cuba') {
                        function is_valid_date(value) {
                            var y = value.substr(0, 2); // 82 (year)
                            var m = value.substr(2, 2); // 06 (month)
                            var d = value.substr(4, 2); // 15/32 (day)
                            if (isNaN(Date.parse(y + '-' + m + '-' + d))) {
                                return false;
                            } else {
                                return true;
                            }
                        }

                        if (/[0-9]{2}(?:0[0-9]|1[0-2])(?:0[1-9]|[12][0-9]|3[01])[0-9]{5}/.test(value) && is_valid_date(value)) {
                            return true;

                        } else {
                            return false;
                        }
                    } else {
                        return true;
                    }
                }, "Please specify a valid cuban id number");


                jQuery.validator.addMethod("passport", function (value, element) {
                    if (value === "") {
                        return true;
                    } else {
                        if (document.getElementById('belraysa_backendbundle_client_country').value == 'Cuba') {
                            return /^(?!^0+$)[A-Z][0-9]{6}$/.test(value);
                        } else {
                            return true;
                        }
                    }
                }, "Por favor, especifique un pasaporte válido.");


                jQuery.validator.addMethod("cubanidrepeated", function (value, element) {

                    $.post("{{ path('client_verificar_dni') }}", {
                        dni: value
                    }, function (res) {
                        if (res.status == 'OK') {
                            flag_dni = true;
                        } else {
                            flag_dni = false;
                        }

                    }, 'json');
                    return flag_dni;

                }, "El número de identidad especificado ya existe");

                jQuery.validator.addMethod("passportrepeated", function (value, element) {

                    $.post("{{ path('client_verificar_passport') }}", {
                        passport: value
                    }, function (res) {
                        if (res.status == 'OK') {
                            flag_passport = true;
                        } else {
                            flag_passport = false;
                        }

                    }, 'json');
                    return flag_passport;
                }, "El pasaporte ya existe");

                form.validate({
                    doNotHideMessage: false, //this option enables to show the error/success messages on tab switch.
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    rules: {
                        //informacion personal
                        "belraysa_backendbundle_client[firstName]": {
                            required: true
                        },
                        "belraysa_backendbundle_client[lastName]": {
                            required: true
                        },
                        "belraysa_backendbundle_client[dni]": {
                            required: true,
                            cubanid: true,
                            cubanidrepeated: true
                        },
                        "belraysa_backendbundle_client[passport]": {
                            passport: true,
                            passportrepeated: true
                        },
                        "belraysa_backendbundle_client[address]": {
                            required: true
                        },
                        "belraysa_backendbundle_client[municipality]": {
                            required: true
                        },
                        "belraysa_backendbundle_client[province]": {
                            required: true
                        },
                        "belraysa_backendbundle_client[country]": {
                            required: true
                        },
                        "belraysa_backendbundle_client[email]": {
                            email: true
                        }

                    },

                    messages: { // custom messages
                        'belraysa_backendbundle_client[firstName]': {
                            required: "Este campo es requerido."
                        },
                        "belraysa_backendbundle_client[lastName]": {
                            required: "Este campo es requerido."
                        },
                        'belraysa_backendbundle_client[dni]': {
                            required: "Este campo es requerido.",
                            cubanid: "Por favor, especifique un número de identidad válido."
                        },
                        'belraysa_backendbundle_client[passport]': {
                            passport: "Por favor, especifique un pasaporte válido."
                        },
                        'belraysa_backendbundle_client[address]': {
                            required: "Este campo es requerido."
                        },
                        'belraysa_backendbundle_client[municipality]': {
                            required: "Este campo es requerido."
                        },
                        'belraysa_backendbundle_client[province]': {
                            required: "Este campo es requerido."
                        },
                        'belraysa_backendbundle_client[country]': {
                            required: "Este campo es requerido."
                        },
                        "belraysa_backendbundle_client[email]": {
                            email: "Por favor, especifique una dirección de correo válida."
                        }

                    },


                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').removeClass('has-success').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    submitHandler: function (form) {

                        //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                        startPageLoading();
                        form.submit();
                    }

                });

            }

        };

    }();
    </script>
    <script>
        $('modalEdit').on('hidden.bs.modal', function () {
            $('#modalEditContent').html("");
        });
    </script>
    <script>
        $(document).on("click", '#edit_cliente_button', function (e) {
            startPageLoading()
            e.preventDefault();
            var $form = null,
                    url = $(this).data('path'),
                    method = 'post';
            $.ajax({
                data: null,
                type: method,
                url: url,
                success: function (response) {
                    $('#modalEditClienteContent').html(response);
                    $('#modalEditCliente').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    FormCliente.init();
                    stopPageLoading()
                    window.crs.init();
                },
                error: function (response) {
                    stopPageLoading();
                }
            });
        });

    </script>
{% endblock %}